* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding: 1em;
    text-align: center;
}

body {
    background-color: #222222;
    color: whitesmoke;
}

.intro {
    margin: 1em;
    font-size: 1.25rem;
}

.btn-container {
    margin: 1em 0;
}

.get-tournament {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 1.25rem;
    background-color: rgb(45, 167, 171);
    color: whitesmoke;
    border: 5px solid whitesmoke;
    font-weight: bold;

}

.outcome {
    line-height: 1.5;
}


#picture-link img {
    margin: 0.5em 0;
    max-width: 90%;
    height: auto;
}

#tournament-name {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 0.75em;
}

.get-tournament:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.get-tournament:active {
    transform: scale(0.9);
}

#tournament-count {
    padding-top: 2em;
}